* {
  outline: none;
}

body {
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;

  color: #fff;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.bg-preload {
  background-image: url("../img/slide-3.png");
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;

}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы
 они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("../img/slide-1.png");
}

.site-wrapper:after {
  background-image: url("../img/slide-2.png");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover, a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  height: 44px;
  box-sizing: border-box;

  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  background: #f26843;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  color: #ffffff;
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  text-decoration: none;
}

.btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

h1.catalog-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-header a {
  border: none;
}

.main-navigation {
  display: flex;
  margin-top: 22px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
}

.main-navigation > ul {
  display: flex;

  list-style: none;
}

.main-navigation > ul > li {
  position: relative;
}

.main-navigation > ul li:hover .sub-menu {
  display: block;
}

.main-navigation > ul > li {
  height: 18px;
  padding: 7px 14px;

  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

  text-decoration: none;
  border-radius: 20px;
}

.main-navigation > ul li:hover {
  background: #f7f6f3;
  color: #323232;
  text-decoration: none;
}

.main-navigation > ul > li:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-navigation > ul .active,
.main-navigation > ul .active:hover {
  padding: 7px 14px;

  line-height: 18px;
  font-weight: bold;

  background-color: #d07058;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
}

.main-navigation > ul .active a,
.main-navigation > ul .active:hover a {
  border: none;
}

.main-navigation a {
  color: inherit;
}

.main-navigation > ul a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
  margin-top: -12px;
  margin-right: 12px;
  margin-left: -5px;

}

.logo a {
  padding: 0;
}

input,
button,
select,
.fatness label,
.fillers label {
  cursor: pointer;
}

input[type="text"],
input[type="password"],
textarea {
  height: 46px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px 15px;

  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  color: #323232;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover {
  border: 2px solid #c7c6c5;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 2px solid #8fbdec;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: normal;

  color: #999999;
}

input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
  font-weight: normal;

  color: #999999;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder  {
  font-weight: normal;

  color: #999999;
}

.sub-menu {
  position: absolute;
  top: 32px;
  z-index: 20;

  display: none;
  width: 150px;
  padding-top: 5px;
}

.sub-menu > ul {
  background: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
}

.sub-menu > ul a {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #323232;
  border-radius: 0;
  box-shadow: none;
}

.sub-menu > ul a[href]:hover {
  background: #fbded7;
  box-shadow: none;
}

.sub-menu > ul a[href]:active {
  background: #f6b5a5;
  box-shadow: none;
}

.sub-menu-active {
  padding: 10px 20px;

  font-weight: normal;

  background: #d07058;
  box-shadow: none;
  border-radius: 0;
}

.sub-menu > ul li:first-child a {
  position: relative;

  font-weight: bold;
}

.sub-menu > ul li:first-child a::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;

  border-bottom: 1px solid #d1d0ce;
}

.user-block {
  display: flex;
  margin-top: 23px;

  list-style: none;
}

.user-block li {
  position: relative;

  font-size: 14px;
  line-height: 24px;
}

.user-block a {
  font-size: 14px;
  line-height: 24px;

  text-decoration: none;
}

.search-form {
  position: absolute;
  right: 0;
  top: 32px;

  display: none;

  padding-top: 5px;
}

.search-form form {
  padding: 20px 15px;

  background: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-form input[type="text"] {
  width: 313px;
  margin-bottom: 0;
}

.search-form button[type="submit"] {
  display: none;
}

.login-form {
  position: absolute;
  right: 0;
  top: 32px;
  z-index: 20;

  display: none;

  padding-top: 5px;
}

.login-form form {
  padding: 20px 15px;

  background: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.login-form input {
  width: 243px;
}

.login-form button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.login-form a {
  margin-left: 17px;

  color: #323232;
  font-size: 13px;
  line-height: 24px;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.header-icon {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  background-color: rgba(254, 254, 254, 0.2);
  border-radius: 20px;
  position: relative;
  margin-left: 10px;
}

.header-search {
  padding: 16px;
  background-image: url("../img/icon-search.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.header-search:hover {
  background: #f8f7f4 url("../img/icon-search-dark.svg") center center no-repeat;
}

.header-login {
  padding: 4px 15px 4px 45px;
  background-image: url("../img/icon-login.svg");
  background-position: 15px center;
  background-repeat: no-repeat;
}

.header-login:hover {
  color: #323232;
  background: #f8f7f4 url("../img/icon-login-dark.svg") 15px center no-repeat;
}

.header-cart {
  padding: 4px 30px 4px 45px;
  background-image: url("../img/icon-cart.svg");
  background-position: 15px center;
  background-repeat: no-repeat;
}

.header-cart:hover {
  color: #323232;
  background: #f8f7f4 url("../img/icon-cart-dark.svg") 15px center no-repeat;
}

.header-cart-full {
  padding-right: 20px;

  font-weight: 500;

  color: #323232;
  background-color: #f8f7f4;
  background-image: url("../img/icon-cart-full.svg");
  background-position: 15px center;
  background-repeat: no-repeat;
}

.header-cart-full:hover {
  background-image: url("../img/icon-cart-full.svg");
}

.cart-form-container {
  position: absolute;
  right: 0;
  top: 32px;
  z-index: 20;

  display: none;

  padding-top: 5px;
}

.cart-form {
  width: 540px;
  padding: 20px 15px;

  color: #323232;
  background: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart-form-item * {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;

  font-size: 13px;
  line-height: 16px;

  color: #323232;
}

.cart-form-item {
  padding-bottom: 20px;
  padding-left: 20px;
}

.cart-form-item-btn {
  width: 10px;
  height: 10px;
  padding-right: 10px;

  border: none;
  background: url("../img/x.svg") 0 0 no-repeat;*/
}

.cart-form-item-title {
  width: 220px;
  margin-right: 15px;
}

.cart-form-item-weight {
  margin-right: 15px;
}

.price-weight {
  color: #999999;
}

.cart-form-sum {
  padding: 15px 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;

  border-top: 1px solid #cacac7;
}

.cart-form .btn {
  float: right;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.user-block > li:hover .search-form,
.user-block > li:hover .login-form,
.user-block > li:hover .header-cart-full + .cart-form-container {
  display: block;
}

.header-contacts {
  margin: 16px 0;

  text-align: right;
}

.header-contacts-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.header-contacts-phone {
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}


.slider {
  position: relative;

  padding-top: 258px;

  text-align: center;
  color: #ffffff;

  margin-bottom: 40px;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  height: 65px;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 100px;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-3.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-1.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.inner header{
  margin-bottom: -35px;
}

.inner .site-wrapper {
  background: #849d8f -webkit-linear-gradient(#9db1a5, #849d8f);
  background: #849d8f linear-gradient(#9db1a5, #849d8f);
}

.sale {
  margin-bottom: 28px;
}

.sale-item {
  position: relative;
  box-sizing: border-box;
  border-radius: 15px;
  color: #fff;
  padding: 17px 20px;
  width: 560px;
  min-height: 229px;
}

.sale-item h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin: 0;
}

.sale-item p {
  margin-top: 14px;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.sale-item a {
  position: absolute;
  bottom: 25px;
  right: 20px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.raspberries {
  background: #66001b url("../img/raspberries.jpg");
}

.chocolate {
  background: #452513 url("../img/chocolate.jpg");
}

.hits, .catalog {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  margin-left: -13px;
  margin-right: -13px;
}

.catalog {
  margin-bottom: 35px;
}

.hit-item, .catalog-item {
  position: relative;

  width: 267px;
  padding: 13px;

  font-size: 16px;
  border-radius: 5px;
}

.hit-item:hover, .catalog-item:hover {
  z-index: 5;

  padding-bottom: 65px;
  margin-bottom: -65px;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.hit-item:hover .hit-item-description a, .catalog-item:hover .catalog-item-description a {
  border: none;
}

.hit-item .btn, .catalog-item .btn {
  position: absolute;
  left: 40px;

  display: none;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.hit-item:hover .btn, .catalog-item:hover .btn {
  display: block;
}

.hit-item-price, .catalog-item-price {
  margin-top: -60px;

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hit-item-price .small, .catalog-item-price .small {
  font-size: 30px;
}

.hit-item-description, .catalog-item-description {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: baseline;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.breadcrumbs li:not(:last-child)::after {
  content: "\00BB";
  padding: 0 6px;

  text-decoration: none;
}

.features {
  padding: 20px 20px 10px 20px;
  margin-bottom: 35px;

  background: #ecdbb9 url("../img/texture.png");
  color: #000;
  border-radius: 15px;
}

.features-title {
  margin-top: 5px;
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 475px;
  padding: 10px 10px 15px 55px;

  font-size: 16px;
  line-height: 22px;
}

.features-item:first-child {
  background: url("../img/feature-item-icon-1.svg") left top no-repeat;
}

.features-item:nth-child(2) {
  background: url("../img/feature-item-icon-2.svg") left top no-repeat;
}

.features-item:nth-child(3) {
  background: url("../img/feature-item-icon-3.svg") left top no-repeat;
}

.features-item:last-child {
  background: url("../img/feature-item-icon-4.svg") left top no-repeat;
}

.news {
  margin-bottom: 40px;
}

.new-item {
  width: 520px;
  height: 170px;
  padding: 25px 20px;

  color: #323232;
  background: #fff;
  border-radius: 15px;
  background-image: url("../img/news-photo.png");
}

.new-title {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-item p {
  width: 300px;
  margin-top: 5px;
}

.new-item a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;

  color: #323232;
}

.subscribe-item {
  position: relative;

  width: 520px;
  height: 180px;
  padding: 20px;

  background: url("../img/subscribe-bg.png");
  color: #5a5a5a;
}

.subscribe-item input {
  position: absolute;
  bottom: 36px;

  width: 340px;
  margin-bottom: 0;
}

.subscribe-item .btn {
  position: absolute;
  right: 25px;
  bottom: 40px;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.subscribe-desc {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.filters {
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #fff;
}

.filters form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.filter-title {
  padding: 15px;
  padding-bottom: 6px;
}

.fatness input {
  display: none;
}

.fatness label::before {
  content: "";

  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 15px;

  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 50%;
}

.fatness label:first-child::before {
  margin-left: 0;
}

.fatness label:hover::before {
  border: 2px solid #fff;
}

#ftn-1:checked ~ .container label[for="ftn-1"]::before,
#ftn-2:checked ~ .container label[for="ftn-2"]::before,
#ftn-3:checked ~ .container label[for="ftn-3"]::before,
#ftn-4:checked ~ .container label[for="ftn-4"]::before {
  background: url("../img/radio-btn.svg") center center no-repeat;
}

.fillers input {
  display: none;
}

.fillers label::before {
  content: "";

  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;

  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #fff;
}

.fillers label:first-child::before {
  margin-left: 0;
}

.fillers label:hover::before {
  border: 2px solid #fff;
}

#fill-1:checked ~ .container label[for="fill-1"]::before,
#fill-2:checked ~ .container label[for="fill-2"]::before,
#fill-3:checked ~ .container label[for="fill-3"]::before,
#fill-4:checked ~ .container label[for="fill-4"]::before,
#fill-5:checked ~ .container label[for="fill-5"]::before {
  background: url("../img/checkbox.svg") center center no-repeat;
}

.block {
  opacity: 0.4;
}

.filter-sort::-ms-expand {
display: none;
}
.filter-sort {
width: 193px;
height: 36px;
margin-right: 16px;
padding: 7px 30px 9px 17px;

color: #ffffff;
background: rgba(248, 247, 244, 0.2) url("../img/select_arrow.png") 169px 16px no-repeat;
border: none;
border-radius: 20px;

-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}

/*.filter-sort:focus,*/
.filter-sort:hover {
background-color: #ffffff;
background-image: url("../img/select_arrow_dark.png");

color: #323232;
}

.filter-sort * {
  font-weight: normal;
}

.range {
  margin-right: 15px;
}

.price-range {
  position: relative;
  width: 218px;
  height: 36px;

  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

.price-range-line {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 16px;

  height: 4px;

  background: rgba(255, 255, 255, 0.5);
}

.price-range-from {
  position: absolute;
  left: 35px;
  right: 55px;
  top: 16px;

  height: 4px;

  background: rgba(255, 255, 255, 1);
}

.price-range-gap, .price-range-to {
  position: absolute;
  top: 8px;

  width: 20px;
  height: 20px;

  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.price-range-gap {
  left: 35px;
}

.price-range-to {
  right: 55px;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.container {
  padding: 8px 15px 8px 15px;

  background: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
}

.filters button {
  display: inline-block;
  vertical-align: top;
  height: 36px;
  width: 144px;
  box-sizing: border-box;
  margin-left: 15px;
  margin-top: 39px;
  padding: 7px 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
  border: solid 2px #fff;
  color: inherit;
  outline: none;
}

.filters button:hover {
  background: #fbfcfb;
  color: #323232;
  border: none;
}

.filters button:active {
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0px 2px 1px 0px #696969;
  color: #353535;
}

.map {
  position: relative;

  margin: 0 -27px;
}

.yandex-map {
  width: 100%;
  height: 430px;

  background: url("../img/map.jpg") center center no-repeat;
}

.map-info {
  position: absolute;
  right: 27px;
  bottom: 65px;

  width: 240px;
  padding: 15px 30px 30px 25px;

  background: #ffffff;
  color: #323232;
  border-radius: 15px;

  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.map-info p {
  margin-bottom: 14px;
  margin-top: 12px;
}

.map-info b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.map-info a {
  margin-top: 12px;

  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

  height: 110px;

  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.main-footer ul {
  list-style: none;
}

.catalog-paginator {
  width: 100%;
  padding: 20px 0 35px 0;

  text-align: right;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  border-bottom: solid rgba(254, 254, 254, 0.3) 1px;
}

.catalog-paginator a {
  padding: 3px 8px;

  border-radius: 50%;
  border: none;
}

.catalog-paginator a.active {
  background: #ffffff;
  color: #000000;
}

.catalog-paginator a:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}

.footer-nav {
  width: 465px;

  font-size: 0;
}

.footer-nav li {
  display: inline-block;
  vertical-align: baseline;
  padding-left: 40px;

  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

.footer-nav li:first-child {
  font-weight: bold;
  background: url("../img/icon-heart.png") 20px center no-repeat;
}

.footer-social {
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  box-sizing: border-box;

  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social-btn:hover {
  opacity: 1;
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.social-btn:active {
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
}

.social-btn-tw {
  background-image: url("../img/icon-tw.svg");
}

.social-btn-inst {
  background-image: url("../img/icon-inst.svg");
}

.social-btn-fb {
  background-image: url("../img/icon-fb.svg");
}

.social-btn-vk {
  background-image: url("../img/icon-vk.svg");
}

.copyright-logo {
  margin-bottom: -15px;
}

.footer-copyright p {
  font-size: 12px;
}

.footer-copyright a {
  font-weight: normal;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;

  display: none;
  width: 430px;
  margin-left: -240px;
  margin-top: -235px;
  padding: 20px 25px;

  color: #000000;
  background: #f8f7f4;
  border-radius: 10px;
}

.modal-content-close {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 17px;
  height: 17px;
  padding: 0;

  font-size: 0;

  background: url("../img/x-big.svg") center center no-repeat;
  background-size: cover;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-title {
  margin: 0;
  margin-bottom: 25px;

  line-height: 28px;

  color: #323232;
}

.modal-content input[type="text"] {
  width: 269px;
}

.modal-content textarea {
  width: 432px;
  height: 176px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 47;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(50, 50, 50, 0.3);
}

.modal-content-show,
.modal-overlay-show {
  display: block;
}
